<h3 align="center">
    Top Categories
    </h3>
    <div class="container">
        <div class="content">
            <div class="card">
      
                <h4 style="color: olivedrab;"><b>
                    <a [routerLink]=" ['/Products', 'Electronic'] ">Electronics</a>
                </b></h4>
               
             </div>
             <div class="card">
      
                <h4 style="color: olivedrab;"><b>
                    <a [routerLink]=" ['/Products', 'Gadget'] ">Gadgets</a>
                </b></h4>
               
             </div>
        </div>
    </div>
    
    