<h3>Customizing the http response using RxJS operators</h3>
<hr/>

<div class="">
    <button (click)="getData1_click()">Get Emplyee Details on Job </button>
    <button (click)="getData2_click()">Get Managers with Department</button>
    <button (click)="getData3_click()">Get Employee Name & Job</button>
    <button (click)="getData4_click()">Get Employee Not in Dept 10</button>
    <button (click)="getData5_click()">Sort Employee on Salary</button>
    <hr/>
    
    {{result | json}}
</div>

