<style>
    .bg1{
        background-color: #04AA6D;
    }
    .bg2{background-color: #f2f2f2}
    .bg3{background-color: #ad7676}
  
  
  </style>
  
  
  <h3>Working with directives in Angular -- Multiple display models</h3>
  <hr/>
  
  
  Select Display Mode :
  <div class="row">   
      <img (mouseover)="SetDisplay('List')"  src="assets/images/list.png" width="40">
    <img (mouseover)="SetDisplay('Table')"  src="assets/images/table.png" width="40">
    <img (mouseover)="SetDisplay('Card')"  src="assets/images/small.png" width="40">
    <img  (mouseover)="SetDisplay('Large-Card')"  src="assets/images/card.png" width="40">
  </div>
  
  
  <section  [ngSwitch]="displayMode">
  
    <!-- Content for List Mode -->
      <article *ngSwitchCase=" 'List' ">
      <ul>
        <li  *ngFor="let item of productsArray">
            Product : <span style="font-weight:bold">{{item.pname}}</span>
           Price :    <span style="font-weight:bold">{{item.price}}</span>
        </li>
      </ul>
    </article>
  
    <!-- Content for Table Mode -->
      <article *ngSwitchCase=" 'Table' ">
  
      <table border="2" cellspacing="0" cellpadding="5" width="500">
        <tr class="bg1">
          <th>S.No</th>
          <th>Student Name</th>
          <th>category Name</th>
        </tr>
  
        <tr *ngFor="let item of productsArray; let i = index; let isEven = even; let isOdd = odd"
            [ngClass]="{'bg2':isEven, 'bg3':isOdd}">
          <td>{{i + 1}}</td>
          <td>{{item.pname}}</td>
          <td>{{item.category}}</td>
        </tr>
  
      </table>
    </article>
  
      <article *ngSwitchCase=" 'Card' ">
  <div class="row">
    <div class="card" *ngFor="let item of productsArray">
        <div class="container" width="150">
            <img [src] = "'assets/images/'+item.picture" width="100">
            <h4 style="color: red;"><b>{{item.pname}}</b></h4>
           <p>{{item.category}}</p>
           <p>Price :{{item.price}} </p>
         </div>
  </div>
  </div>
     </article>

     <article *ngSwitchCase=" 'Large-Card' ">
          <div class="card card-large" *ngFor="let item of productsArray">
              <div class="container">
                  <img [src] = "'assets/images/'+item.picture" width="200">
                  <h4 style="color: olivedrab;"><b>{{item.pname}}</b></h4>
                 <p>Price :{{item.price}} </p>
               </div>
        </div>
           </article>
      <article *ngSwitchDefault> This is default mode </article>
  </section>