<mat-toolbar color="primary">
  <mat-toolbar-row>
  <span>Login Form</span>
      <span class="example-fill-remaining-space"></span>
      <span class="align-center"></span>
      <span class="example-spacer"></span>
      <button mat-button>About</button>
      <button mat-button>Contact</button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    
  </mat-menu>
   </mat-toolbar-row>
   </mat-toolbar>
<mat-card>
    <mat-card-header>
      <mat-card-title align="center">Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form >
        <table  cellspacing="0">
          <tr>
            <td>
              <mat-form-field>
              <input matInput placeholder="Username" [(ngModel)]="uname" name="username" required="true">
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td><mat-form-field>
            <input matInput placeholder="Password" [(ngModel)]="pwd"type="password" name="password" required="true">
          </mat-form-field></td>
        </tr></table>
      </form>
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card-actions>
  </mat-card>