<table style="border-style: solid; width:30%;">
    <thead>
        <th colspan="2">
            <h3>Employee Details</h3>
        </th>
    </thead>
        
    <tbody>
        <tr>
            <td>Employee ID</td>
            <td>{{eid}}</td>
        </tr>
        <tr>
            <td>Employee Name</td>
            <td>{{ename}}</td>
        </tr>
        <tr>
            <td>Employee Job</td>
            <td>{{ejob}}</td>
        </tr>
        <tr>
            <td>Employee Salary</td>
            <td>{{esalary}}</td>
        </tr>
        <tr>
            <td>Employee Depo</td>
            <td>{{edept}}</td>
        </tr>
        
    </tbody>
</table>
